{% extends 'admin/adminBase.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}

    <main class="adminArticles">
        <section>

            <table width="100%" border="1">
                <thead>
                    <th>Titre</th>
                    <th>Illustration</th>
                    <th>Catégorie</th>
                    <th>date de création</th>
                    <th>date de modification</th>
                    <th>Publié?</th>
                    <th>Modif?</th>
                    <th>Suppression?</th>
                </thead>
            <tbody>
                {% for article in articles %}
                        <tr>
                            <td><h2>{{ article.title }}</h2></td>
                            <td><div><img src="{{ asset('uploadArticles/'~ article.image) }}" alt="{{ article.title }}" id="adminImageArticles"></div></td>
                            <!-- affiche la catégorie si elle existe, sinon affiche "sans catégorie" -->
                            <td>{{ article.categorie ? article.categorie.title : "sans catégorie" }}</td>
                            <td><p>{{ article.createdAt | date('d/m/Y') }}</p></td>
                            <td><p>{{ article.updatedAt | date('d/m/Y') }}</p></td>
                            <td>
                                {% if article.isPublished == 1 %}
                                    <p>OUI</p>
                                {% else %}
                                    <p>NON</p>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('admin_article_update', {id: article.id}) }}">Modifier</a></td>
                            <td>
                                <p data-id="{{ article.id }}" class="falseDelete">Supprimer</p>
                                <p class="trueDelete" id="deleteArticle{{ article.id }}">êtes-vous sûr de vouloir supprimer l'article?<br><br><a href="{{ path('admin_article_delete', {id: article.id}) }}">Oui</a>
                                    <a href="{{ path('admin_articles') }}">Non</a></p>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

{% endblock %}