<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/adminStyle.css') }}">
</head>
<body>
<header>
    <h1>Ceci est le header Admin</h1>
    
    <nav>
        <ul>
            <li><a href="{{ path('admin_articles') }}">Articles</a></li>
            <li><a href="{{ path('admin_categories') }}">Catégories</a></li>
            <li><a href="{{ path('admin_article_insert') }}">Ajoutez un article</a></li>
            <li><a href="{{ path('admin_categorie_insert') }}">Ajouter une catégorie</a></li>
        </ul>
    </nav>

    {% for message in app.flashes('success') %}
        <h2 class="flashSuccess">{{ message }}</h2>
    {% endfor %}
</header>
{% block content %}{% endblock %}
<footer>
    <h2>Ceci est le footer Admin</h2>
</footer>
</body>
</html>